<article class="post">
  <div class="title">
    <h3>{{title}}</h3>
  </div>
  <a href="/post/{{id}}">
  <div class="meta">
    {{post_content}}
    <p class="a-posts">
    by {{User.username}} on {{format_date created_at}}
    |
    {{comments.length}} {{format_plural "comment" comments.length}}
    </p>
    </a>
  </div>
</article>