<article class="post">
  <div class="title">
    <a href="{{post_content}}" target="_blank">{{title}}</a>
    <p>({{post_content}})<p>
  </div>
  <div class="meta">
    {{log post}}
    by {{User.username}} on {{format_date created_at}}
    |
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>